<p id="notice"><%= notice %></p>

<p>
  <strong>Yelp:</strong>
  <%= @business.yelp_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @business.image %>
</p>

<p>
  <strong>Display phone:</strong>
  <%= @business.display_phone %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @business.review_count %>
</p>

<p>
  <strong>Rating img:</strong>
  <%= @business.rating_img %>
</p>

<p>
  <strong>Snippet text:</strong>
  <%= @business.snippet_text %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @business.location_address %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @business.location_city %>
</p>

<p>
  <strong>Location state:</strong>
  <%= @business.location_state %>
</p>

<p>
  <strong>Location postal:</strong>
  <%= @business.location_postal %>
</p>
  <strong>Url:</strong>
  <%= @business.url %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
