<!DOCTYPE html>
<html>
	<head>
		
	</head>
	
	<body>
		<h1>Current Trip </h1>
		<br><hr>
		
		
		<div id="display-body">
		<b>The Places</b><br>
		<% yelp_ids = session[:yelp] %>
		<% if yelp_ids != nil %>
		  <% yelp_ids = yelp_ids.split(",")%>
		  <% count = 0 %>
		  <div class="row">
		    <% yelp_ids.each do |yelp| %>
			  <% yelp_object = Yelp.client.business(yelp) %>
	            <div class="col-md-4">
	              <div class="thumbnail">
	          	    <div class="caption">
	          	      <h3>
	          	  	    <a href = <%= yelp_object.url %>> <%= yelp_object.name %> </a> 
	          	      </h3>
				      <img src=<%= yelp_object.image_url %>>  <br>
		              <img src=<%= yelp_object.rating_img_url %>> 
		              <%= yelp_object.review_count %> 
	          	    </div>
	          	    <div>
	                  <%= yelp_object.location.address[0] %> <br>
		              <%= yelp_object.location.city %>
		    	      <%= yelp_object.location.state_code %>, 
		    	      <%= yelp_object.location.postal_code %> <br><br> 
		    	      <%= yelp_object.snippet_text %> <br><br> 
		    	      <% params[:count] = count %>
		    	      <%= button_to "Remove", trips_delete_path %> <br>
		    	      <% count = count + 1 %>
	                </div>
	              </div>
	            </div>      
		    <% end %> 
		  </div>
		<% end %> 
		
		<div class="row"> 
		<%= button_to "Add a place", yelp_search_path, :method => :get  %>
		<br>
		<%= form_tag("/trips/save", method: "post") do %>
	  	  <%= label_tag(:trip_name, "Name of Trip") %>
	  	  <br>
	  	  <%= text_field_tag(:trip_name,) %>
	  	  <br>
	  	  <%= label_tag(:trip_description, "Description") %>
	  	  <br>
	  	  <%= text_area_tag(:trip_description, "" , size: "60x5") %>
	  	  <br><br>
	  	  <%= submit_tag ("Save") %>
	  	  
    	<% end %> 	
		</div>
		
		</div>
		
		
	</body>	
</html>
