<!DOCTYPE html>
<html>
	<head>
		
	</head>
	
	<body>
		<h1>Current Trip </h1>
		<br><hr>
		<% yelp_ids = session[:yelp] %>
		<% if yelp_ids != nil %>
		  <% yelp_ids = yelp_ids.split(", ")%>
		  <% yelp_ids.each do |yelp| %>
		    <% yelp_object = Yelp.client.business(yelp) %><br>
		  
		    <a href = <%= yelp_object.url %>> <b><%= yelp_object.name %></b> </a> <br>
		    <img src=<%= yelp_object.image_url %>>  <br>
		    <img src=<%= yelp_object.rating_img_url %>> 
		    <%= yelp_object.review_count %> <br> 
		    <%= yelp_object.location.address[0] %> <br>
		    <%= yelp_object.location.city %>
		    <%= yelp_object.location.state_code %>, 
		    <%= yelp_object.location.postal_code %> <br><br> 
		    <%= yelp_object.snippet_text %> <br><br> 
		  <% end %> <br>
		<% end %> <br>
		
		<%= link_to "Add a place", yelp_search_path %>
		<br><br><br>
		
		<%= form_tag("/trips/create", method: "post") do %>
	  	  <%= label_tag(:trip_name, "Name of Trip") %>
	  	  <%= text_field_tag(:trip_name,) %>
	  	  <%= label_tag(:trip_description, "Description") %>
	  	  <%= text_field_tag(:trip_description,) %>
	  	  <%= submit_tag ("Search") %>
    	<% end %> 	

	</body>	
</html>
