<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
  <body>
  	<!-- Rendering the navigation bar -->
  	<%= render partial: 'layouts/navbar' %>
    <div class="page-title">
      Your Saved Trips
    </div>
    <br> 
    <% none = 0 %>
    <% @trips.reverse_each do |trip| %>
      <% if trip.user_id == current_user.uid %>
        <div class="col-sm-6 col-md-4 col-lg-4">
      	  <div class="thumbnail">
    
      	  	<div class="caption">
      		  <h3><%= trip.name %></h3>
      		  
			  <p><%= trip.description %></p>
			  <% yelp = trip.json %>
			  <% yelp = yelp.split(",") %>
			  <% yelp.each do |yelp| %>
			    <% bus = Business.find_by yelp_id: yelp %> <br>
				<%= bus.name %>		  
			  <% end %>
			  <div style="position:absolute;bottom:15px;right:15px;margin:0;padding:15px 15px;">
			  	<%= button_to "Details", trips_trip_details_path(trip_id: trip.id), :id => "cool-button" %>
			  </div>
      		</div>
      	  </div>
      	  
        </div>
        <% none += 1 %>
      <% end %>
	<% end %>
	
	<% if none == 0 %>
	  <p>There aren't any saved trips.</p>
	<% end %>
  
  </body>
</html>



