<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  
  <body>
  	<!-- Rendering the navigation bar -->
  	<%= render partial: 'layouts/navbar' %>
  	<div class="container">
  	<div class="page-title">
  		Detailed Trip Page
  	</div>
  	<% trippy = Trip.find(params[:trip_id]) %> <br> 
  	<div>
      <h3>Title : <%= trippy.name %></h3>
  	  <p id="paragraph">Description : <%= trippy.description %> </p>
  	</div>
  	
  	<div>
      <% splits = trippy.json.split(",") %>
  	  <% splits.each do |yelp|%>
  	    <div class="col-sm-6 col-md-3 col-lg-4">
  	      <div class="thumbnail">
  	        <% bus = Business.find_by yelp_id: yelp %>  
  	        <%= image_tag( display_image_path(:yelpId => yelp) ) %>
  	        <div class="caption">
  	          <h3><%= bus.name %></h3> 
  	          <p><%= bus.snippet_text %></p>
  	            <%= bus.location_address %> <br>
				<%= bus.location_city %>
			    <%= bus.location_state %>,
			    <%= bus.location_postal %> <br><br>
			    <!-- Link to yelp page. Opens in new tab. --> 
			    <h7>Yelp Link: <a href="<%= bus.url %>" class="btn btn-default" id="cool-button" style="color:#c41200;border-color:#c41200;" target="_blank">Yelp!</a></h7> 
		    </div> 
		  </div>
  	    </div>
  	  <% end %>
  	</div>
  </div>
  </body>
  <!-- Render the footer -->
  <%= render partial: 'layouts/footer' %>  
</html>
