<!DOCTYPE html>
<html>
	
  <head></head>
  <body>
    <h1>Search Page </h1>
    <br><hr>
    <%= form_tag("/yelp/result", method: "get") do %>
	  <%= label_tag(:place, "Search") %>
	  <%= text_field_tag(:place, nil,  required: true) %>
	  <%= label_tag(:location, "Location") %>
	  <%= text_field_tag(:location, nil,  required: true) %>
	  <%= submit_tag ("Search"), :class => "btn btn-default btn-sm" %>
    <% end %> 	
		
  </body>
	
</html>
