<!DOCTYPE html>
<html>
	
  <head></head>
  
  <script>
  	@(docoment).ready(function() {
  		$("#search-form").validate({
  			debug:true,
  			rules: {
  				"search[place]": {required: true, place:true},
  				"search[location]": {required: true, location:true}
  			}
  		});
  	});
  </script>
  
  <body>
  	<!-- Rendering the navigation bar -->
  	<%= render partial: 'layouts/navbar' %>
    <div class="page-title">
    	Search Page
    </div>
    <br><hr>
    <div class="page-body">
      <%= form_tag("/yelp/result", method: "get", :id => "search-form") do %>
	    <%= label_tag(:place, "Search") %>
	    <%= text_field_tag(:place, nil,  required: true) %>
	    <%= label_tag(:location, "Location") %>
	    <%= text_field_tag(:location, nil,  required: true) %>
	    <%= submit_tag ("Search"), :class => "btn btn-default btn-sm", :id => "cool-button" %>
      <% end %> 	
    </div>
	
	<%= image_tag(foo_path(:id => 1)) %> 
	
  </body>
	
</html>


