<!DOCTYPE html>
<html lang="en">
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  </head>
  <body class="homepage">
  	<div class="top">
  		<div class="logo col-sm-12">
  			<h1 id="logo2">JAUNTS </h1>
  			<p id="logo-body">A brief trip taken for pleasure</p>
  		</div>
  	</div>
  	<div class="center col-sm-12">
  		<%= link_to image_tag("Create a Jaunt.jpg", size: "250"), trips_itinerary_path %>    
	    <%= link_to image_tag("View Saved Jaunts.jpg", size: "250"), trips_saved_trips_path %>   
	    
  	</div>
  	
  	<div id="user-widget">
  <% if current_user %>
    <p id="sign_out">
    	Welcome <strong><%= current_user.name %></strong>!
    	<%= link_to "Sign out", signout_path, id: "sign_out" %>
    </p> 
    
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

  </body>
</html>
